* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;
  display: block;
  overflow-x: hidden;
}

.social-media {
  display: none;
}

.nav-bar {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vw;
  background-image: url("images/cardenasbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bar.active {
  display: block;
}

#closex {
  display: block;
  text-align: right;
  padding-top: 10vw;
  margin-right: 15vw;
}

.title-bar {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  margin-top: 5vw;
  gap: 4vw;
}

.title-bar a {
  font-family: Cocogoose, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5vw;
  line-height: 4vw;
  text-decoration: none;
  color: #272a31;
}

#menu-button {
  margin-left: 7vw;
}

.menu-button img {
  width: 8.2vw;
  margin-top: 5.2vw;
}

#closex img {
  width: 5vw;
}

#Headline-about {
  width: 100vw;
  height: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("images/about-bg.png");
  background-repeat: repeat;
  background-size: cover;
  padding-bottom: 5vw;
}

.about {
  width: 100vw;
  height: 3vw;
  font-family: Lato, sans-serif;
  font-size: 5.2vw;
  font-weight: 50;
  color: #ec5242;
  text-align: center;
}

.about-title {
  width: 100vw;
  height: 5vw;
  font-family: Cocogoose, sans-serif;
  font-size: 5.5vw;
  font-weight: 1200;
  line-height: 5.5vw;
  color: #ec5242;
  padding-top: 4vw;
  text-align: center;
}

.about-intro {
  width: 83vw;
  height: 20vw;
  margin-left: 9vw;
  text-align: center;
  border: 0.5px #d3d3d3 solid;
  background-color: white;
  margin-top: 12vw;
  font-size: 3vw;
  line-height: 3.5vw;
  padding: 1vw 1vw 1vw 1vw;
}

.underline {
  width: 7vw;
  height: 0;
  margin-left: 46vw;
  margin-top: 5vw;
  border: 1px #ec5242 solid;
  border-radius: 0.5vw;
}

.contact {
  border: 0;
  margin-top: 1vw;
  text-align: center;
  margin-left: 8vw;
  height: 7vw;
}

#email-about {
  text-align: center;
}

#email-about a {
  color: #272a31;
}

#Logo-section {
  width: 100vw;
  height: 210vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#logo-title {
  line-height: 5vw;
  width: 100vw;
  height: 5vw;
  text-align: center;
  color: #272a31;
  font-family: Lato, sans-serif;
  font-size: 4vw;
  font-weight: 700;
  padding-top: 5vw;
}

.logo {
  width: 4vw;
  margin-left: 0;
  margin-top: 12vw;
}

.logo-intro {
  margin-top: 0;
  text-align: center;
  border: 0;
}

.logo-intro-desktop {
  display: none;
}

#logo-about {
  margin-top: 5vw;
}

#featured-title-past {
  line-height: 5vw;
  width: 100vw;
  height: 5vw;
  text-align: center;
  color: #272a31;
  font-family: Lato, sans-serif;
  font-size: 4vw;
  font-weight: 700;
  margin-top: 7vw;
  padding-top: 5vw;
  border-top: 1px #d3d3d3 solid;
  padding-bottom: 2vw;
}

.past-desktop {
  margin-left: 0;
  width: 3vw;
}

.past {
  width: 4vw;
  margin-left: 0;
  margin-top: 7vw;
}

.past-intro {
  margin-top: 0;
  text-align: center;
  border: 0;
  height: 10vw;
  margin-left: -3vw;
}

#past-images {
  width: 100%;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2vw;
}

#past-image1 {
  width: 65vw;
  height: 55vw;
}

#past-image1 img {
  width: 65vw;
  height: 45vw;
}

.expo1::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: -45.6vw;
  margin-left: 0;
  width: 65vw;
  height: 45vw;
  background-color: #ec5242;
  opacity: 0.5;
}

.expo2::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: -45.6vw;
  margin-left: 0;
  width: 65vw;
  height: 45vw;
  background-color: #ec5242;
  opacity: 0.5;
}

.img-textyear {
  position: relative;
  margin-top: -35vw;
  margin-left: 21vw;
  font-size: 10vw;
  font-family: Lato, sans-serif;
  font-weight: 800;
  color: white;
}

.img-text {
  position: relative;
  margin-top: 1vw;
  margin-left: 10vw;
  font-size: 5vw;
  font-family: Lato, sans-serif;
  font-weight: 800;
  color: white;
}

#past-images2 {
  width: 70vw;
  height: 65vw;
}

#past-image2 img {
  width: 65vw;
  height: 45vw;
}

footer {
  width: 100vw;
  height: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vw;
}

.footer-container {
  width: 100vw;
  height: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(61, 60, 60);
}

.footer-partner {
  width: 100vw;
  height: 5vw;
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 4vw;
  font-weight: 50;
  line-height: 2.5vw;
  color: white;
}

.partner-title {
  margin-left: 0;
  margin-top: 1vw;
}

.social-links1 {
  width: 100vw;
  height: 5vw;
  margin-top: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

#banco {
  width: 8vw;
}

#google {
  width: 8vw;
}

#rep {
  width: 8vw;
}

.social-links2 {
  width: 100vw;
  height: 5vw;
  margin-top: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

#pinter {
  width: 8vw;
  margin-right: 9vw;
}

#air {
  width: 8vw;
  margin-left: 9vw;
}

.rights {
  width: 100vw;
  height: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5vw;
}

.partner-section {
  display: none;
}

.rightsdesktop {
  display: none;
}

#creative {
  width: 35vw;
}

#text-rights-container {
  width: 35vw;
}

.rights-desktop-text {
  width: 100%;
}

@media screen and (min-width: 768px) {
  #menu-button {
    display: none;
  }

  header {
    width: 100vw;
    height: 3vw;
    background-image: none;
    background-color: #272a31;
  }

  .social-media {
    width: 100vw;
    height: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    padding-right: 10vw;
    padding-top: 0;
    gap: 2vw;
  }

  .title-bar a {
    font-family: Cocogoose, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 2vw;
    text-decoration: none;
    color: rgb(80, 76, 76);
  }

  .social-media li a {
    text-decoration: none;
    color: white;
    font-family: Cocogoose, sans-serif;
    font-size: 1vw;
  }

  #facebook {
    height: 1vw;
    width: 0.9vw;
  }

  #twitter {
    height: 1vw;
    width: 1vw;
  }

  .nav-bar {
    display: block;
    position: relative;
    width: 80vw;
    height: 4vw;
    background-color: white;
    margin-left: 10vw;
    background-image: none;
  }

  #closex {
    display: none;
  }

  .title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
  }

  #logo-navbar {
    width: 10vw;
    margin-right: 25vw;
  }

  #Headline-about {
    align-items: center;
    height: 50vw;
    margin-left: 0;
    background-size: contain;
  }

  .about {
    display: none;
  }

  .about-title {
    font-size: 3vw;
    margin-top: 2vw;
    width: 100vw;
    height: 5vw;
    font-family: Cocogoose, sans-serif;
    font-weight: 1200;
    line-height: 4vw;
    color: #ec5242;
  }

  .about-intro {
    font-family: Lato, sans-serif;
    font-weight: 50;
    color: #272a31;
    padding: 2vw 2vw 2vw 2vw;
    width: 63vw;
    height: 20vw;
    text-align: center;
    border: 0.5px #d3d3d3 solid;
    background-color: white;
    margin-top: 8vw;
    margin-left: 5vw;
    font-size: 2.2vw;
    line-height: 2.5vw;
  }

  .contact {
    font-family: Lato, sans-serif;
    font-weight: 50;
    color: #272a31;
    width: 40vw;
    border: 0;
    margin-top: 1vw;
    text-align: center;
    margin-left: 0;
    height: 2vw;
    font-size: 1vw;
  }

  #Logo-section {
    width: 100vw;
    height: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #logo-title {
    line-height: 5vw;
    width: 100vw;
    height: 5vw;
    text-align: center;
    color: #272a31;
    font-family: Lato, sans-serif;
    font-size: 2vw;
    font-weight: 700;
    padding-top: 5vw;
  }

  .logo {
    width: 4vw;
    margin-left: 0;
    margin-top: 5vw;
  }

  .logo-intro {
    display: none;
  }

  .logo-intro-desktop {
    display: block;
    font-size: 1vw;
    width: 60vw;
    line-height: 1.5vw;
    margin-top: 1vw;
    text-align: center;
    height: 10vw;
  }

  #featured-title-past {
    line-height: 5vw;
    width: 100vw;
    height: 5vw;
    text-align: center;
    color: #272a31;
    font-family: Lato, sans-serif;
    font-size: 3vw;
    font-weight: 700;
    padding-top: 5vw;
    border-top: 1px #d3d3d3 solid;
    margin-top: 5vw;
  }

  .past-desktop {
    margin-left: 0;
    margin-top: 3vw;
    width: 3vw;
  }

  .past-intro {
    text-align: center;
    font-size: 1vw;
    border: 0;
    background: none;
    margin-left: 0;
    height: 3vw;
    margin-top: 2vw;
    padding: 0;
  }

  footer {
    width: 100vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .footer-container {
    display: none;
  }

  .rightsdesktop {
    width: 100vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-top: 0;
    background-color: #272a31;
  }

  .rights {
    display: none;
  }

  #textrightscontainerdesktop {
    color: #d3d3d3;
  }

  #last-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .rights-desktop-text {
    font-size: 1vw;
    margin-left: 0.5vw;
    color: #d3d3d3;
  }

  .img-textyear {
    position: relative;
    margin-top: -15vw;
    margin-left: 10vw;
    font-size: 5vw;
    font-family: Lato, sans-serif;
    font-weight: 800;
    color: white;
  }

  .img-text {
    position: relative;
    margin-top: 1vw;
    margin-left: 7vw;
    font-size: 2vw;
    font-family: Lato, sans-serif;
    font-weight: 800;
    color: white;
  }

  #past-images {
    width: 80vw;
    height: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin-top: 0;
  }

  #past-image1 img {
    margin-top: 0;
    width: 30vw;
    height: 20vw;
  }

  #past-image2 img {
    margin-top: 0;
    width: 30vw;
    height: 20vw;
  }

  #past-image1 {
    width: 30vw;
    height: 20vw;
  }

  #past-image2 {
    width: 30vw;
    height: 20.4vw;
  }

  .expo1::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: -20.4vw;
    margin-left: 0;
    width: 30vw;
    height: 19.9vw;
    background-color: #ec5242;
    opacity: 0.5;
  }

  .expo2::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: -20.4vw;
    margin-left: 0;
    width: 30vw;
    height: 19.9vw;
    background-color: #ec5242;
    opacity: 0.5;
  }
}
