* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;
  display: block;
  overflow-x: hidden;
}

header {
  display: block;
  width: 100vw;
  height: 25vw;
  background-image: url("images/cardenales.jpg");
  background-repeat: repeat-x;
  background-size: contain;
}

.social-media {
  display: none;
}

.nav-bar {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vw;
  background-image: url("images/cardenasbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bar.active {
  display: block;
}

#closex {
  display: block;
  text-align: right;
  padding-top: 10vw;
  margin-right: 15vw;
}

.title-bar {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  margin-top: 5vw;
  gap: 4vw;
}

.title-bar a {
  font-family: Cocogoose, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5vw;
  line-height: 4vw;
  text-decoration: none;
  color: black;
}

#menu-button {
  margin-left: 7vw;
}

.artist-photo img {
  width: 20vw;
  height: 20vw;
}

#menu-button img {
  width: 8.2vw;
  margin-top: 5.2vw;
}

#closex img {
  width: 5vw;
}

#Headline {
  width: 100vw;
  height: 65vw;
  padding-left: 5.2vw;
  background-color: rgb(246, 246, 246);
  background-image: url("images/squares.jpg"), url("images/cc\ figure.jpg"), url("images/zero.jpg"), url("images/background3.jpg");
  background-repeat: no-repeat;
  background-position-x: 70vw, 30vw, 10vw, 74vw;
  background-position-y: 2.5vw, 19vw, 22vw, 15.5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hello {
  width: 100vw;
  height: 3vw;
  font-family: Lato, sans-serif;
  font-size: 5.2vw;
  font-weight: 50;
  color: rgb(250, 73, 0);
}

.expo-title {
  width: 100vw;
  height: 5vw;
  font-family: Cocogoose, sans-serif;
  font-size: 5.5vw;
  font-weight: 1200;
  line-height: 5.5vw;
  color: rgb(250, 73, 0);
  padding-top: 4vw;
}

.intro {
  width: 85vw;
  height: 15vw;
  font-family: Lato, sans-serif;
  font-size: 2vw;
  font-weight: 50;
  line-height: 2.5vw;
  color: rgb(80, 76, 76);
  margin-top: 17.9vw;
  border: 7px white solid;
  padding: 2vw 2vw 2vw 2vw;
}

.date {
  width: 100vw;
  height: 5vw;
  font-family: Cocogoose, sans-serif;
  font-size: 5vw;
  font-weight: 1000;
  line-height: 2vw;
  color: rgb(80, 76, 76);
  margin-top: 3vw;
}

.location {
  width: 90vw;
  height: 15vw;
  font-family: Cocogoose, sans-serif;
  font-size: 1.8vw;
  font-weight: 700;
  line-height: 2vw;
  color: rgb(80, 76, 76);
  margin-top: 1vw;
  background-image: url("images/moneyfigure.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#main-program {
  display: block;
  width: 100vw;
  height: 140vw;
  background-image: url("images/bgmain.jpg");
  background-repeat: repeat;
}

.main-program-title {
  width: 100vw;
  height: 5vw;
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 4vw;
  font-weight: 50;
  line-height: 2.5vw;
  color: white;
  padding-top: 10vw;
}

.underline {
  width: 7vw;
  height: 0;
  margin-left: 46vw;
  margin-top: 5vw;
  border: 1px rgb(250, 73, 0) solid;
  border-radius: 0.5vw;
}

.cards {
  width: 85vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1vw;
  margin-left: 7vw;
  margin-top: 5vw;
}

.card {
  width: 85vw;
  height: 15vw;
  background-color: rgba(80, 78, 80, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-img {
  margin-left: 3vw;
}

.card-title {
  margin-left: 0;
  color: rgb(250, 73, 0);
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 3vw;
}

.card-description {
  width: 40vw;
}

.cardmain {
  color: rgb(204, 198, 198);
  border: 0;
  font-size: 2vw;
  margin-top: -1vw;
  margin-left: 0;
  line-height: 4vw;
}

#whole-program {
  display: none;
}

.join-box {
  width: 75vw;
  height: 15vw;
  margin-left: 12vw;
  background-color: rgb(245, 40, 13);
  color: white;
  font-family: Lato, sans-serif;
  font-size: 4vw;
}

.artists-container {
  display: block;
  width: 100vw;
  height: 170vw;
}

#featured-title {
  width: 100vw;
  height: 5vw;
  text-align: center;
  color: rgb(80, 76, 76);
  font-family: Lato, sans-serif;
  font-size: 4vw;
  font-weight: 700;
  line-height: 2.5vw;
  padding-top: 5vw;
}

#artists-page {
  width: 100vw;
  height: 150vw;
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4vw;
}

.artists {
  width: 100vw;
  height: 21vw;
  display: grid;
  grid-template-columns: 20vw 70vw;
  grid-template-rows: 2vw 3vw 0.1vw 12vw;
  column-gap: 1vw;
  row-gap: 1vw;
  margin-left: 5vw;
}

.artist-photo {
  grid-row: 1;
  grid-column: 1;
}

.artist-name {
  grid-row: 1;
  grid-column: 2;
  color: rgb(80, 76, 76);
  font-family: Lato, sans-serif;
  font-size: 3vw;
  font-weight: 700;
  line-height: 2.5vw;
  margin-top: 1vw;
  margin-left: 2vw;
}

.artist-description {
  grid-row: 2;
  grid-column: 2;
  font-family: Lato, sans-serif;
  font-size: 2vw;
  font-style: italic;
  font-weight: 100;
  line-height: 2.5vw;
  color: rgb(250, 73, 0);
  margin-top: 2vw;
  margin-left: 2vw;
}

.art-techniques {
  grid-row: 3;
  grid-column: 2;
  margin-top: 2vw;
  width: 3vw;
  border-color: rgb(204, 198, 198);
  margin-left: 2vw;
}

.artistwork-intro {
  grid-row: 4;
  grid-column: 2;
  font-family: Lato, sans-serif;
  font-size: 1.5vw;
  font-weight: 50;
  line-height: 2vw;
  color: rgb(80, 76, 76);
  margin-top: 2.5vw;
  margin-left: 2vw;
}

footer {
  display: none;
}

@media screen and (min-width: 768px) {
  header {
    width: 100vw;
    height: 3vw;
    background-image: none;
    background-color: rgb(61, 60, 60);
  }

  #menu-button {
    display: none;
  }

  .social-media {
    width: 100vw;
    height: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    padding-right: 10vw;
    padding-top: 0.5vw;
    gap: 2vw;
  }

  .title-bar a {
    font-family: Cocogoose, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 2vw;
    text-decoration: none;
    color: rgb(80, 76, 76);
  }

  .social-media li a {
    text-decoration: none;
    color: white;
    font-family: Cocogoose, sans-serif;
    font-size: 1vw;
  }

  #facebook {
    height: 1vw;
    width: 0.9vw;
  }

  #twitter {
    height: 1vw;
    width: 1vw;
  }

  .nav-bar {
    display: block;
    position: relative;
    width: 80vw;
    height: 4vw;
    background-color: white;
    margin-left: 10vw;
    background-image: none;
  }

  #closex {
    display: none;
  }

  .title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
  }

  #logo-navbar {
    width: 10vw;
    margin-right: 25vw;
  }

  #Headline {
    width: 100vw;
    height: 45vw;
    padding-left: 10.2vw;
    background-color: rgb(246, 246, 246);
    background-image: url("images/cardenasbackground.jpg"), url("images/squares.jpg"), url("images/cc\ figure.jpg"), url("images/zero.jpg"), url("images/background3.jpg");
    background-repeat: repeat-x no-repeat no-repeat no-repeat no-repeat;
    background-position-x: 0, 70vw, 30vw, 10vw, 74vw;
    background-position-y: 0, 2.5vw, 19vw, 22vw, 15.5vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .hello {
    width: 100vw;
    height: 3vw;
    font-family: Lato, sans-serif;
    font-size: 2.8vw;
    font-weight: 50;
    color: rgb(250, 73, 0);
    margin-top: 5vw;
  }

  .expo-title {
    width: 100vw;
    height: 5vw;
    font-family: Cocogoose, sans-serif;
    font-size: 4.2vw;
    font-weight: 1200;
    line-height: 4vw;
    color: rgb(250, 73, 0);
    padding-top: 1vw;
  }

  .intro {
    width: 50vw;
    height: 9vw;
    font-family: Lato, sans-serif;
    font-size: 0.8vw;
    font-weight: 50;
    line-height: 1.5vw;
    color: rgb(80, 76, 76);
    margin-top: 10.5vw;
    border: 7px white solid;
    padding: 2vw 2vw 2vw 2vw;
  }

  .date {
    width: 100vw;
    height: 5vw;
    font-family: Cocogoose, sans-serif;
    font-size: 3vw;
    font-weight: 1000;
    line-height: 2vw;
    color: rgb(80, 76, 76);
    margin-top: 3vw;
  }

  .location {
    width: 90vw;
    height: 15vw;
    font-family: Cocogoose, sans-serif;
    font-size: 1vw;
    font-weight: 700;
    line-height: 2vw;
    color: rgb(80, 76, 76);
    margin-top: 0;
    background: none;
  }

  #main-program {
    display: block;
    width: 100vw;
    height: 40vw;
    background-image: url("images/bgmain.jpg");
    background-repeat: repeat;
  }

  .main-program-title {
    width: 100vw;
    height: 5vw;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 2vw;
    font-weight: 50;
    line-height: 2.5vw;
    color: white;
    padding-top: 5vw;
  }

  .underline {
    width: 4vw;
    height: 0;
    margin-left: 48vw;
    margin-top: 4vw;
    border: 1px rgb(250, 73, 0) solid;
    border-radius: 0.5vw;
  }

  .cards {
    width: 85vw;
    height: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
    margin-left: 7vw;
    margin-top: 2vw;
  }

  .card {
    width: 15vw;
    height: 17vw;
    background-color: rgba(80, 78, 80, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1vw;
  }

  .card-img {
    margin-left: 0;
  }

  .card-title {
    margin-left: 0;
    color: rgb(250, 73, 0);
    font-family: Lato, sans-serif;
    font-weight: 600;
    font-size: 1.5vw;
  }

  .card-description {
    width: 13vw;
  }

  .cardmain {
    color: rgb(204, 198, 198);
    border: 0;
    font-size: 1vw;
    margin-top: -1vw;
    margin-left: 0;
    line-height: 1vw;
    width: 100%;
    text-align: center;
  }

  #whole-program {
    display: block;
    color: rgb(204, 198, 198);
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 1.2vw;
    margin-top: -78vw;
    margin-left: 42vw;
  }

  .join-box {
    display: none;
  }

  .artists-container {
    display: block;
    width: 100vw;
    height: 65vw;
    margin-left: 10vw;
  }

  #featured-title {
    width: 100vw;
    height: 5vw;
    text-align: center;
    color: rgb(80, 76, 76);
    font-family: Lato, sans-serif;
    font-size: 2vw;
    font-weight: 700;
    line-height: 2.5vw;
    padding-top: 5vw;
    margin-left: -11vw;
  }

  .artists-title {
    margin-left: 37vw;
  }

  #artists-page {
    width: 100vw;
    height: 50vw;
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 15vw 15vw 15vw;
    column-gap: 2vw;
    row-gap: 2vw;
    margin-top: 5vw;
  }

  .artists {
    width: 45vw;
    height: 15vw;
    display: grid;
    grid-template-columns: 6vw 31.5vw;
    grid-template-rows: 2vw 3vw 0.1vw 12vw;
    column-gap: 0.5vw;
    row-gap: 1vw;
    margin-left: 1vw;
  }

  .artist-photo {
    grid-row: 1;
    grid-column: 1;
  }

  .artist-photo img {
    width: 10vw;
    height: 10vw;
  }

  .artist-name {
    grid-row: 1;
    grid-column: 2;
    color: rgb(80, 76, 76);
    font-family: Lato, sans-serif;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 2vw;
    margin-top: 0;
    margin-left: 4vw;
  }

  .artist-description {
    grid-row: 2;
    grid-column: 2;
    font-family: Lato, sans-serif;
    font-size: 0.9vw;
    font-style: italic;
    font-weight: 100;
    line-height: 1.5vw;
    color: rgb(250, 73, 0);
    margin-top: -1vw;
    margin-left: 4vw;
  }

  .art-techniques {
    grid-row: 3;
    grid-column: 2;
    margin-top: -3.3vw;
    width: 2vw;
    border-color: rgb(204, 198, 198);
    margin-left: 4vw;
  }

  .artistwork-intro {
    grid-row: 4;
    grid-column: 2;
    font-family: Lato, sans-serif;
    font-size: 1vw;
    font-weight: 50;
    line-height: 1.5vw;
    color: rgb(80, 76, 76);
    margin-top: -3.3vw;
    margin-left: 4vw;
  }

  footer {
    display: block;
    width: 100vw;
    height: 30vw;
    margin: 0;
    margin-top: 5vw;
  }

  .footer-container-desktop {
    width: 100vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(64, 64, 64);
  }

  .desktop-title {
    width: 100vw;
    height: 5vw;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 2vw;
    font-weight: 50;
    line-height: 4vw;
    color: rgb(204, 198, 198);
    margin-top: 3vw;
  }

  .partner-title-desktop {
    margin-top: -1vw;
    margin-left: 0;
    width: 2vw;
  }

  .social-links-desktop-version {
    width: 100vw;
    height: 5vw;
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .rights-desktop {
    width: 100vw;
    height: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0;
    background-color: rgb(244, 244, 244);
  }

  #text-rights-container-desktop2 {
    margin-top: 1vw;
  }
}
